Source: rust-bindgen-cli
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
Build-Depends-Arch: cargo:native,
 rustc:native (>= 1.70.0),
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Matthias Geiger <werdahias@riseup.net>,
 NoisyCoil <noisycoil@debian.org>
Standards-Version: 4.7.2
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/bindgen-cli]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/bindgen-cli
Homepage: https://rust-lang.github.io/rust-bindgen/
X-Cargo-Crate: bindgen-cli
Rules-Requires-Root: no

Package: bindgen
Architecture: any
Section: utils
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${cargo:Depends},
 libclang-dev
Recommends:
 ${cargo:Recommends},
 rustfmt
Suggests:
 ${cargo:Suggests}
Provides:
 ${cargo:Provides}
Built-Using: ${cargo:Built-Using}
Static-Built-Using: ${cargo:Static-Built-Using}
Description: Automatically generate Rust FFI bindings to C and C++ libraries
 bindgen-cli can automatically generate Rust FFI bindings to C and
 C++ libraries.
 The executable and the binary package are named bindgen.
